# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# hatch
.hatch/

# hatch-vcs
src/pydeb_s3/_version.py

# Distribution / packaging
*.egg
MANIFEST

# MyPy
.mypy_cache/

# pyright
.pyright/